:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --hero-color: #2f303a;
  --bg-secondary-color: #f5f4fa;
  --adressf-color: rgba(255, 255, 255, 0.6);
  --card-set-gap: 30px;
  --header-border: rgba(236, 236, 236, 1);
  --card-border: rgba(238, 238, 238, 1);
  --social-icon: rgba(175, 177, 184, 1);
  --bg-icon-color: rgba(255, 255, 255, 0.1);
  --gradient-color: rgba(47, 48, 58, 0.4);
  --poluprozracnyj-seryj: rgba(47, 48, 58, 0.8);
  --overlay-color: rgba(33, 150, 243, 0.9);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop: rgba(0, 0, 0, 0.2);
  --black: rgba(0, 0, 0, 1);
  --closed-border: rgba(0, 0, 0, 0.1);
  --modal-border: rgba(33, 33, 33, 0.2);
  --placeholder: rgba(117, 117, 117, 0.5);
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  color: #212121;
  background-color: #fff;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  border-bottom: 1px solid var(--header-border);
}

.page-header__container {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  font-family: raleway, cursive;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}

.logo__text {
  color: var(--accent-color);
}

.logo__text--black {
  color: var(--title-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-right: 83px;
  padding-bottom: 38px;
  padding-left: 40px;
  background-color: white;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-toggle:hover,
.menu-toggle:focus {
  fill: var(--accent-color);
}

@media (min-width: 767px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container__menu-toggle {
  position: absolute;
  top: 20px;
  right: 15px;
}

.mobile-menu {
  padding: 0;

  margin: 0;
  list-style: none;
}

.mobile-menu__link {
  display: block;
  padding: 10px;
  color: var(--title-color);
  text-decoration: none;
  margin-bottom: 32px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
}

.mobile-menu__link:hover,
.mobile-menu__link:focus {
  color: var(--accent-color);
}

.adress__link {
  display: block;
  padding: 10px;

  text-decoration: none;
  margin-bottom: 32px;
}
.adress__link--blue {
  color: var(--accent-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  margin-top: 302px;
}
.adress__link--grey {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  color: var(--primary-text-color);
}

.mobile-menu__link:hover,
.mobile-menu__link:focus {
  color: var(--accent-color);
}

.social-menu {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 64px;
}

.mobile-menu__social-icon {
  display: flex;
  align-items: baseline;
}
.mobile-menu__social {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--accent-color);
  text-decoration: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
}

.mobile-menu__line {
  color: var(--primary-text-color);
  margin-left: 10px;
  margin-right: 10px;
}

.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  .menu {
    align-items: baseline;
  }
}

.menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .menu__list {
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .menu__list {
    margin-right: 300px;
  }
}

.menu__item {
  margin-right: 50px;
}

.menu__item:last-child {
  margin-right: 0px;
}

.menu__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--cubic);
}

.menu__link:hover,
.menu__link:focus {
  color: var(--accent-color);
}

.menu__link--current {
  position: relative;
  display: block;
  color: var(--accent-color);
}

.menu__link--current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0px;
  bottom: -1px;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu-adress {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-adress__link {
  font-family: Roboto;
  font-style: normal;
  text-decoration: none;
  color: var(--primary-text-color);
  transition: color 250ms var(--cubic);
}

.menu-adress__link:hover,
.menu-adress__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-adress__link {
    display: block;
    font-size: 12px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 1200px) {
  .menu-adress__link {
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    align-items: center;
  }
}

.adress__svg {
  margin-right: 8px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .menu-adress__link:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-adress__link:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-adress {
    display: flex;

    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-adress__link:not(:last-child) {
    margin-right: 30px;
  }
}
