.adress {
  display: flex;
  align-items: center;
  margin-left: auto;

  &__link {
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin-right: 30px;
    display: flex;
    align-items: center;
    transition: color 250ms var(--cubic);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__svg {
    margin-right: 10px;
    fill: currentColor;
  }
}

.adress-footer {
  margin-top: 20px;

  &__street {
    color: var(--primary-bg-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-top: 0px;
    margin-bottom: 9px;
  }

  &__link {
    color: var(--adressf-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
    margin-bottom: 9px;
  }
}

.adress-footer__link {
  &:last-child {
    margin-bottom: 0px;
  }
}
