.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;

  &__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border 250ms var(--cubic);
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    width: 16px;
    height: 15px;

    border: 2px solid var(--title-color);
    border-radius: 4px;
    cursor: pointer;
  }

  &__agreement {
    color: var(--accent-color);
    margin-left: 2px;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
  }
}

.checkbox__text--agree {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.714;
  margin-left: 9px;
  margin-right: 2px;
}

.checkbox__input {
  &:checked + .checkbox__icon {
    border: none;
  }

  &:checked + .checkbox__icon use {
    display: block;
  }
}

.checkbox__icon {
  & use {
    display: none;
  }
}
