.hero {
  text-align: center;
  min-height: 600px;
  padding-top: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      var(--gradient-color),
      var(--gradient-color)
    ),
    url(../images/hero.jpg);
  background-color: var(--hero-color);

  &__title {
    color: var(--primary-bg-color);
    text-transform: uppercase;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 30px;
  }

  &__button {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;

    letter-spacing: 0.06em;
    display: block;
    padding-top: 10px;
    padding-left: auto;
    padding-bottom: 10px;
    padding-right: auto;
    width: 200px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;

    border: transparent;
    transition: background-color 250ms var(--cubic), color 250ms var(--cubic),
      box-shadow 250ms var(--cubic);
  }
}
