.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;

  background-color: var(--overlay-color);
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform 250ms var(--cubic);

  &__text {
    font-size: 18px;
    line-height: 1, 5;
    color: var(--primary-bg-color);
  }

  .portfolio__link:hover &,
  .portfolio__link:focus & {
    transform: translateY(0);
  }
}
