.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &--with-bgcolor {
    background-color: var(--bg-secondary-color);
  }

  &--no-padding-top {
    padding-top: 0px;
    padding-bottom: 94px;
  }
}
