.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
  margin-top: 16px;

  &__icon {
    display: flex;
    border-radius: 54%;
    width: 44px;
    height: 44px;
    padding: 0;
    border: none;
    color: var(--social-icon);
    justify-content: center;
    align-items: center;
    transition: background-color 250ms var(--cubic), color 250ms var(--cubic);
  }

  &__picture {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }

  &__items:not(:first-child) {
    margin-left: 10px;
  }
}

.social__icon {
  &:not(:first-child) {
    margin-left: 10px;
  }

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
  }
}

.social__icon--fother {
  color: var(--primary-bg-color);
  background-color: var(--bg-icon-color);
  transition: background-color 250ms var(--cubic);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
